<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title><?php echo $title_for_layout; ?></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- css section -->
	<style>
		body { padding-top: 60px; }
		.sidebar-nav { padding: 9px 0; }
	</style>
	<?php 
		echo $this->Html->css(
			array(
				'bootstrap',
				'bootstrap-responsive',
				'admin'
			)
		); 
	?>
	<style>
		
	</style>
	<!-- end of css section -->

	<!-- js section -->
	<?php
		echo $this->Html->script(
			array(
				'http://code.jquery.com/jquery.min.js',
				'bootstrap'
			)
		);
	?>
	<!-- end of js section -->
</head>
<body>
	<?php echo $this->element('Admin/navbar'); ?>

	<div class="container-fluid">
	    <div class="row-fluid">
	        <?php echo $this->TB->page_header($title_for_layout); ?>
	    </div>
	    <div class="row-fluid">
	        <div class="span3">
	            <?php
	            	if ( !empty( $sidebarElements ) ) {
	            		/*
	                    if ( empty( $sideSection ) ) {
	                        $sideSection = 'index';
	                    }
	                    */
	                    if ( !empty( $sidebarElements[$sideSection] ) ) {
	                        foreach ($sidebarElements[$sideSection] as $element => $viewVars) {
	                            echo $this->element( $element, $viewVars);
	                        }
	                    }
	                    if ( !empty( $sidebarElements['default'] ) ) {
	                        foreach ($sidebarElements['default'] as $element => $viewVars) {
	                            echo $this->element($element, $viewVars);
	                        }
	                    }
	                }
	            ?>
	        </div>
	        <div class="span9">
	            <?php echo $this->fetch( 'content' ); ?>
	        </div>
	    </div>
	</div>

</body>
</html>